* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito, Nunito;
    text-transform: capitalize;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--countrybackground);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin-inline: auto;
    padding: 20px;


}

 body{
    color: var(--main-color);
 }

.hero-section {
    margin-top: 4rem;
   max-width: 1300px;
   margin-inline: auto;
   padding-inline: 20px;

}
.search-container{
    margin-bottom: 1.5rem;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
}

.region{
    cursor: pointer;
}
.region:hover{
    background-color: rgba(109, 104, 104, 0.548);
}

.inputbox{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    align-items: center;
    padding: 6px 10px;  display: flex;
    border-radius: 6px;
    background-color: hsla(0, 4%, 91%, 0.948);
    background-color: var(--inputbg);
    

}
.inputbox input{
   
    padding:10px 5px;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 700;
    color: inherit;
    background-color: inherit;

}
.inputbox input::placeholder{
    color: inherit;
    font-weight: 200;
}

.filterbox{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding:16px 18px;
    border-radius: 7px;
    
}
.arrow:hover{
    transition: linear 0.2s;
    cursor: pointer;
    transform: rotate(180deg);
}

.filterboxlist{
    /* max-width: 400px; */
    padding:5px 18px;
    line-height: 1.8;
    margin-top: 12px;
    display: none;
    transition: linear 0.4s;
    
   
}
.openarrow{
    display: block;
    transition: linear 0.4s;
}


#countryboxes{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: space-between;
}


.firstcountry {
    display: block;
    max-width: 260px;
    border: 2px solid rgba(0, 0, 0, 0.19);
    background-color: var(--countrybackground);
    padding-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    text-decoration-line: none;
    transition:all linear 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.firstcountry img {
    width: 100%;
}


.firstcountry:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.5);
}

.country-details {
    margin-left: 1rem;
    color: black;
    color: var(--main-color);

   
}


.contry-name {
    margin-block: 0.7rem;

}

.firstcountry p {
    line-height: 1.5;

}


.mode{
    background-color:   hsl(207, 26%, 17%);
    --main-color: rgb(255, 255, 255);
    /* color:  hsl(209, 23%, 22%); */
    --countrybackground:hsl(209, 23%, 22%);
    --inputbg: hsl(0, 0%, 52%);
    cursor: pointer;
}

.darkmode{
    display: none;
}

.lightmode{
    cursor: pointer;
}


.fa-moon{
    color: rgb(28, 101, 174);
    font-size: 1.8rem;
  
}

.fa-sun{
    color: rgb(237, 215, 85);
    font-size: 1.8rem;
}


@media(max-width:580px){
    .header h1{
    font-size:17px ;

    }
 

    .search-container{
       flex-direction: column;
      
   
    }

    .inputbox{
        padding: 4px 15px;  
        border-radius: 10px;
        margin-bottom: 1rem;
    
    }
    .inputbox input{
    flex-grow: unset;
   font-size: 14px;
       
    
    }
    

}